<!doctype html>
<html lang="en" ng-app='MenuCategoriesApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller='MenuCategoriesController as menu'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="menu.searchTerm" placeholder="search term" class="form-control">
    </div>
    <div class="narrow-button">
      <button class="btn btn-primary" ng-click="menu.getMenuItem();">Narrow It Down For Me!</button>
    </div>
    <br>
    <br>
    <!-- <ol>
      <li ng-repeat="item in menu.found">
        {{ item.name }} ({{ item.short_name }}), {{ item.description}}
        <button ng-click="menu.removeItem($index);">Don't want this one</button>
      </li>
    </ol> -->

    <foundItems found-items="menu"></foundItems>
    <!-- found-items should be implemented as a component -->
    <!-- <found-items found-items="...." on-remove="...."></found-items> -->
  </div>


</body>
</html>
